@charset "UTF-8";

@media (min-width: 481px) {



    section {
        padding: 15px;
        
    }

    section#sobre {
        height: 350px;
    }

    section#servic article { /* Grid para organizar colunas e linhas da secao servicos*/

        display: grid;
        grid-template-columns: repeat(2, 1fr); /*Numero de colunas*/
        gap: 20px; /*Espaçãmento entre as celulas*/
    
    }
    section#servic article div {
        
    }

    section#servic article div p {
        margin: 10px 0px;        
    }

    /*Formulario*/
    section#contact > form {
        display: flex;
        justify-content: center;

    }
    section#contact > form fieldset {
        margin: 30px;
        width: 60vw;

    }
    section#contact form label {
        padding: 30px;
        
    }
    section#contact form input {
        width: 45%;
        margin: 20px 0px;
    }
    section#contact form textarea {
        margin: 20px;

    }
    section#contact form input.submit {
        margin: 10px 40px;
        padding: 10px 0px;
        width: 90px;
    }

}