@charset "UTF-8";

/*MObile First*/

*{
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1:#30c39e;
    --cor2:#0a8ea0;
    --cor3:#000000b0;

    --font1:'sans-serif';
    --font2:'FontAwesome';
    --font3:'fontawesome-webfont';
}

body {
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 2px;
    line-height: 20px;
    letter-spacing: 1px;

}

header {
    background-color: var(--cor3);
    padding: 20px;

}
#header {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    /*border: 1px dashed blue;*/
    color: var(--cor1);
    font-size: 2em;
    margin: 30px;
    flex: 0 0 200px;
    /*flex-basis: 200px;*/
    
}
header span { /*Menu Hamburguer*/
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--cor1);
    border-radius: 2px;
    padding: 8px;
    margin: 30px;
}
header span:hover {
    color: black;
    background-color: #fff;
    transition: .4s;
}
header nav#menu {
    /*border: 1px dashed blue;*/
    
    display: none;
    background-color: #fff;
    padding: 10px;
    height: 200px;
    border-radius: 2px;
    align-items: center;

}
header nav#menu.active {
    display: block;  
}

header a {
    color: var(--cor1);
    text-decoration: none;
    margin: 10px;
    
}
header a:hover {
    color: #fff;
}
header p {
    color: #fff;
    
}

header h4{
    color: #fff;
    margin: 10px 0px;
}

section {
    padding: 50px;
    
    
}
section h2 {
    text-align: center;
    margin: 25px;
}

section#servic {
    color: #fff;
    background-color: var(--cor1);
}
section#servic div {
    margin: 15px;
}
section#servic div p {
    color: #fff0f0;
}

section#contact {
    padding: 15px;
}
section#contact p {
    margin: 10px 5px;
}
section#contact p a{
    color: rgba(0, 0, 0, 0.603);
    text-decoration: none;
    text-shadow: .5px .5px rgba(0, 0, 0, 0.295);
}
section#contact p a:hover {
    color: black;
    
}
section#contact  form { /*Formatacao do formulario*/
    border-radius: 10px;

}
section#contact  form fieldset {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 20px;
    
    justify-content: center;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.308);
}
section#contact form h3 {
    text-align: center;
    padding: 10px;

}
section#contact form label {
    padding: 10px;
    font-weight: bold;

}
section#contact form input {
    background-color: #8080804f;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;

}
section#contact form textarea {
    background-color: #8080804f;
    border-radius: 5px;
    margin: 5px 10px;
}
asaide {
    display: flex;
    justify-content: right;
}
section#contact form input.submit {
    color: #fff;
    font-weight: bold;
    background-color: #0a8ea0;
    padding: 10px 15px;
    align-items: right;
    
}
section#contact form input.submit:hover {
    background-color: rgba(128, 128, 128, 0.644);
    color: black;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.342);
    transition: background-color .5s;
    transition: color .5s;
}

footer {
    background-color: var(--cor3);
    
    padding: 15px;
    height: 100px;
}
footer p {
    color: #fff;
    text-align: center;
    margin: 15px;
}
footer p a {
    color: #fff;
    text-decoration: none;

}
footer p a:hover {
    color: var(--cor2);
    transition: .2s;
}